<% layout("layouts/Boilerplate.ejs") %>

<body>
  <div class="row offset-2">
    <h2>Edit Listing</h2>
    <br><br>

    <div class="col-8">

      <!-- UPDATE FORM -->
      <form method="post" action="/listings/<%= listing._id %>">

        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input type="text" name="title" id="title" class="form-control"
                 placeholder="enter a catchy title" value="<%= listing.title %>">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <input type="text" name="description" id="description" class="form-control"
                 placeholder="enter an engaging description" value="<%= listing.description %>">
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image URL:</label>
          <input type="text" name="image" id="image" class="form-control"
                 placeholder="enter the link of your place" value="<%= listing.image %>">
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="price" class="form-label">Price:</label>
              <input type="text" name="price" id="price" class="form-control"
                     placeholder="enter the price" value="<%= listing.price %>">
            </div>
          </div>

          <div class="col-md-8">
            <div class="mb-3">
              <label for="location" class="form-label">Location:</label>
              <input type="text" name="location" id="location" class="form-control"
                     placeholder="where is it located" value="<%= listing.location %>">
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country:</label>
          <input type="text" name="country" id="country" class="form-control"
                 placeholder="name of the country" value="<%= listing.country %>">
        </div>

        <br>

       <div class="d-flex gap-2">
  <button type="submit" class="btn btn-dark">Update</button>

       </form>
  <form method="post"
        action="/listings/<%= listing._id %>/delete"
        onsubmit="return confirm('Are you sure you want to delete this listing?');">
    <button type="submit" class="btn btn-danger">Delete Listing</button>
  </form>
</div>

    </div>
  </div>
</body>
